body{
    
    display: flex;
    flex-direction: column;
    gap: 180px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: center;
    background-color: black;
}    

.GalDescription{
    text-align: center;
    color: #fff;
    font-style: italic;
}


.image-container{
    width: 60%;
    border-width: 5px;
    border-color: #ffff;
    border-style: solid;
   text-align: center;
   background-color: #2c2b2b42;

}

.image-container img{
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    border-radius: 1rem;
    transition: 0.5s;
    background-color: aquamarine;
    
}
.image-container img:hover{
    transform: scale(1.1) rotate(3deg);
}


.Name-container{

    margin-left: 20%;
    margin-right: 20%;
    color: #ffff;

}

.p-container{
    text-decoration: underline;
    text-decoration-color: #fff;
    color: #ffff;
}

.buttonGal{
    width: 160px;
    height: 56px;
    background-color: #2c2b2b42;
    border-radius: 5px;
    border-width: 5px;
    border-color: #fff;
    border-style: solid;
    font-size: large;
    cursor: pointer;
    color: #fff;
}

.GoBack{
    margin-top: 40px;
    width: 160px;
    height: 56px;
    background-color: #2c2b2b42;
    border-radius: 5px;
    border-width: 5px;
    border-color: #fff;
    border-style: solid;
    font-size: large;
    cursor: pointer;
    color: #fff;
}


